html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
}

.document-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}


.overlay-button {
    position: absolute;
    bottom: 20px; /* Posiciona el botón en la parte inferior */
    left: 50%; /* Centra el botón horizontalmente */
    transform: translateX(-50%); /* Mueve el botón hacia la izquierda la mitad de su ancho para centrarlo */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.overlay-button:hover {
    background-color: #45a049;
}
