body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    overflow: hidden; /* Evita el desplazamiento en el cuerpo */
}

.pdf-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.style-iframe {
    width: 100%;
    height: 100%;
    border: none; /* Quita el borde del iframe */
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}
