<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización de Documento</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="document-container">
        <!-- Encabezado y Botón para aceptar, que se superponen al PDF -->
        
        <button id="acceptButton" class="overlay-button">He leído el documento</button>
        
        <!-- Iframe para mostrar el PDF -->
        <iframe src="static/terms.pdf"></iframe>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
