<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento con Firma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="pdf-container">
        <iframe src="static/terms.pdf" id="pdfIframe" class="style-iframe"></iframe>
        <input type="text" id="nameInput" class="input-field">
        <input type="date" id="dateInput" class="input-date">



        <canvas id="signatureCanvas" class="signature-canvas"></canvas>

        <!-- Modal -->
            <div class="modal" id="signatureModal">
                <div class="modal-content">
                    <canvas class="modal-canvas" id="modalCanvas"></canvas>
                    <div class="button-container">
                        <button id="saveSignature">Guardar Firma</button>
                        <button id="closeModal">Cerrar</button>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button id="submitButton" onclick="submitForm()">ACEPTAR</button>
            </div>
       
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>