<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="pdf-container">
            <iframe id="pdfIframe" class="pdf-iframe" src="static/terms.pdf" frameborder="0"></iframe>
            <input type="text" id="nameInput" class="input-field" placeholder="Ingrese su nombre">
            <canvas id="signatureCanvas" class="signature-canvas" width="300" height="100"></canvas>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
